nav {
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	font-weight: bold;
}

a:visited {
	color: #551a8b;
}

a:link {
	color: #97559e;
}

a:hover {
	color: red;
}

h1 {
	text-align: center;
	margin-bottom: -2px;
}

h2 {
	text-align: center;
	font-family: "Book Antiqua", Palatino, serif;
}

h3 {
	text-align: center;
}

h4 {
	border: 2px solid black;
	padding: 1%;
	text-align: center;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-image: url("Images/flower.jpg");
}

@media screen and (min-width: 500px) {
	a {
		color: #de68db;
	}
}

