nav {
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	font-weight: bold;
}

a:visited {
	color: #4b6694;
}

a:link {
	color: #77dbe9;
}

a:hover {
	color: red;
}

h1 {
	text-align: center;
	margin-bottom: -2px;
}

h2 {
	text-align: center;
	font-family: "Book Antiqua", Palatino, serif;
}

h3 {
	text-align: center;
}

h4 {
	border: 2px solid #77afd7;
	padding: 1%;
	text-align: center;
}

/*.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}*/

body {
	background-color: #de68db;
	color: #4b6694;
}

@media screen and (min-width: 500px) {
	a {
		color: #77dbe9;
	}
}

